.NavBar{
    grid-area: NavBar;
    background-color: black;
    color: white;
}

.hrefs a{
    text-decoration: none;
    color: brown;
}

.activeLink{
    border-left: 3px solid white;
    transition: 0.5s ease;
}
